.corpo {
    background-color: rgba(219, 6, 6, 0.91);
    color: white;
    font-size: 40px;
    padding: 10px;
}


.roodape {
    font-size: 23px;
    background-color: #34796911;

}

.fundo {
    background-color: #34796911;
}

.fundoo {
    background-color: #34796911;
    color: #34796911;

}